/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, li, dl {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #eaeaea;
}

.wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
}
.wrap .root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.form-group input {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 15px;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav__item {
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.nav__link {
  color: #000;
  text-decoration: none;
}

.character__card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.character__card span {
  font-weight: bold;
}